/*
.price { 
    display: none !important; 
}
*/
.page-filters-bar {
    display: none !important; 
}
.detail-button { 
    color: white; 
    user-select: none;
}
.mdi-eye { 
    display: none !important; 
}
